#Netbeans Specific
build/
dist/
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

[lL]ogs

#Files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Specific Library Sources
lib/LWJGL/src/

# Package Files #
*.war
*.ear

# Log Files
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
